<div class="collage-area">
  <h1>Your collage</h1>
  <canvas id="collage-spot", height="500", width="500"></canvas>
</div>

<div class="user-feed-area">
  <%= image_tag "grid.png", class: "image-bucket" %>
  
  <% if current_user.provider == "tumblr" %>
    <h2>Your latest Tumblr Posts</h2>
    <% @tumblrs.each do |post| %>
      <%= post %>
    <% end %>
  <% end %>
</div>
