.container {
  width: 90%;

}

h1, h2 {
  font-family: "Open Sans", serif;
}

.collage-area {
  width: 70%;
  padding: 0;
  margin-left: 2em;
  margin-right: 1em;
  float: left;
}

#collage-spot {
  border: 1px #000 solid;
  z-index: 1;
}

.selected-image {
  width: 10em;
  height: 10em;
  z-index: 2;
}

