body {
  font-family: "Open Sans", serif;
}

.container {
  width: 90%;
}

.collage-area {
  width: 70%;
  padding: 0;
  margin-left: 2em;
  margin-right: 1em;
  float: left;
}

#collage-spot {
  border: 1px #000 solid;
}

/*things that can be selected for the canvas*/
.selected-image {
  width: 10em;
  height: 10em;
}

.background {
  width: 5em;
  height: 5em;
}


li.tweet {
  /*background-color: #99f8cf;*/
}
