h1, h2 {
  font-family: "Open Sans", serif;
}

#collage-spot {
  margin-left: 0 auto;
  border: 1px #000 solid;
}

.collage-area {

}

.image-bucket {
  width: 5em;
  height: 5em;
  
}

.user-feed-area {
  float: right;
}
